USE [DE2]
GO
/****** Object:  Trigger [dbo].[TRG_UPDATE_LENHDAT]    Script Date: 5/16/2021 3:57:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[TRG_UPDATE_LENHDAT]
ON [dbo].[LENHDAT] AFTER UPDATE
AS
BEGIN
	DECLARE @LOAIGD_Upd NCHAR(1),
			@MACP_Upd NCHAR(7),
			@NGAYDAT_Upd DATETIME,
			@GIADAT_Upd FLOAT

	SELECT @LOAIGD_Upd = inserted.LOAIGD,
		   @MACP_Upd = inserted.MACP,
		   @NGAYDAT_Upd = inserted.NGAYDAT,
		   @GIADAT_Upd = inserted.GIADAT
	FROM inserted 
	EXEC SP_HIENTHI_BGTT @LOAIGD_Upd, @MACP_Upd, @NGAYDAT_Upd, @GIADAT_Upd
END
