USE [DE2]
GO
/****** Object:  Trigger [dbo].[TRG_LENHKHOP]    Script Date: 5/16/2021 3:21:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[TRG_LENHKHOP]
ON [dbo].[LENHKHOP]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
	DECLARE @LK_Cursor CURSOR,
			@MACP NCHAR(7),
			@KHOPLENHGIA FLOAT,
			@KHOPLENHKL INT
	SET @LK_Cursor = CURSOR KEYSET FOR (SELECT DISTINCT MACP FROM LENHDAT)

	OPEN @LK_Cursor  -- mở con trỏ
	FETCH NEXT FROM @LK_Cursor INTO @MACP --đọc dòng đầu tiên

	WHILE(@@FETCH_STATUS <> -1)
	BEGIN

		-- gán 1 bản ghi có IDKHOP giảm tuần tự, bắt đàu từ hàng thứ nhất của LENHKKHOP kết hợp với LENHDAT gán vào bảng tạm temp2
		WITH temp2 AS
		(
			SELECT TOP 1 ROW_NUMBER() OVER(ORDER BY IDKHOP DESC) AS Row_Number, *
			FROM LENHKHOP INNER JOIN LENHDAT ON LENHKHOP.IDLENHDAT = LENHDAT.ID
			WHERE LENHDAT.MACP = @MACP AND CAST(NGAYKHOP AS DATE) = CAST(GETDATE() AS DATE) 
		) 

		-- lấy khipws lệnh giá & khớp lệnh KL của bảng tạm update vào BGTT
		SELECT @KHOPLENHGIA = GIAKHOP, @KHOPLENHKL = SOLUONGKHOP
		FROM temp2 
		WHERE Row_Number = 1

		UPDATE BANGGIATRUCTUYEN
	 	SET KHOPLENHGIA =  @KHOPLENHGIA, KHOPLENHKL = @KHOPLENHKL
		WHERE MACP = @MACP
		---

		FETCH NEXT FROM @LK_Cursor INTO @MACP
	END

	THOAT:
	CLOSE @LK_Cursor
	DEALLOCATE @LK_Cursor

END
